.button {
    border: none;
    background-color: var(--highlight-color);
    font-size: 22px;
    color: var(--light-color);
    border-radius: 8px;
    padding: 8px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    cursor: pointer;
    font-family: monospace;
}

.button:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}